/* Flexbox Grid */

.container {
  width: 972px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;  
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-1 { flex-basis: 8.3333% }
.col-2 { flex-basis: 16.6666% }
.col-3 { flex-basis: 24.9999% }
.col-4 { flex-basis: 33.3333% }
.col-5 { flex-basis: 41.6665% }
.col-6 { flex-basis: 49.9998% }
.col-7 { flex-basis: 58.3331% }
.col-8 { flex-basis: 66.6664% }
.col-9 { flex-basis: 74.9997% }
.col-10 { flex-basis: 83.3333% }
.col-11 { flex-basis: 91.6663% }
.col-12 { flex-basis: 100% }

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* Оформление сайта */

@import url('//fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */

header {
  display: flex;
  align-items: center;
  height: 72px;
  background: #fff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

header .logo {
  display: flex;
  align-items: center;
}

header .location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header img {
  display: flex;
}

header p {
  display: inline-flex;
  margin: 0 9px 0 9px;
}

header .asap-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  text-decoration: none;
  font-size: 16px;
  color: #1D1D1D;
  line-height: 24px;
  text-align: center; 
}

header .location input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 292px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #1D1D1D;
  font-size: 16px;
  line-height: 24px;
  padding-left: 36px;
  outline: none;
  background: url(../images/location.svg) no-repeat 12px;
}

header .sign-up-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  text-decoration: none;
  font-size: 13px;
  color: #1D1D1D;
  margin-right: 16px;
}

header .register-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  background: #262626;
  margin-right: 27px;
}

header .basket-button {
  display: inline-flex;
  width: 19px;
  height: 22px;
  background: url(../images/basket.svg); 
}

.search-field {
  margin-top: 32px;
}

.search-field input {
  display: flex;
  padding: 15px 0px 15px 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(117,117,117,0.5);
  color: rgba(98,98,98,0.3);
  font-size: 16px;
  outline: none;
  background: url(../images/search.svg) no-repeat 0px;
}

/* Список ресторанов */

.restaurant-list .restaurant-item {
  margin-top: 36px;
}

.restaurant-list h1 {
  font-size: 22px;
  color: #1D1D1D;
  margin: 56px 0px 16px 0px;
}

.restaurant-list h2 {
  font-size: 16px;
  color: #1D1D1D;
  margin: 16px 0px 4px 0px;
  line-height: 24px;
}

.restaurant-list h3 {
  display: inline-flex;
  font-size: 14px;
  color: #626262;
  margin: 0px 0px 4px 0px;
  line-height: 21px;
}

.restaurant-list h4 {
  font-size: 13px;
  color: #1D1D1D;
  margin: 0;
  line-height: 21px;
}

/* Футер */

footer {
  display: flex;
  background: #262626;
}

footer .footer-logo {
  margin-top: 56px;
}

footer hr {
  opacity: 0.4;
  margin-top: 40px;
}
