/* # Flexbox-сетка */
.container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;  
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 972px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-xs-1 { flex-basis: 8.3333% }
.col-xs-2 { flex-basis: 16.6666% }
.col-xs-3 { flex-basis: 24.9999% }
.col-xs-4 { flex-basis: 33.3333% }
.col-xs-5 { flex-basis: 41.6665% }
.col-xs-6 { flex-basis: 49.9998% }
.col-xs-7 { flex-basis: 58.3331% }
.col-xs-8 { flex-basis: 66.6664% }
.col-xs-9 { flex-basis: 74.9997% }
.col-xs-10 { flex-basis: 83.3333% }
.col-xs-11 { flex-basis: 91.6663% }
.col-xs-12 { flex-basis: 100% }

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-sm-1 { flex-basis: 8.3333% }
  .col-sm-2 { flex-basis: 16.6666% }
  .col-sm-3 { flex-basis: 24.9999% }
  .col-sm-4 { flex-basis: 33.3333% }
  .col-sm-5 { flex-basis: 41.6665% }
  .col-sm-6 { flex-basis: 49.9998% }
  .col-sm-7 { flex-basis: 58.3331% }
  .col-sm-8 { flex-basis: 66.6664% }
  .col-sm-9 { flex-basis: 74.9997% }
  .col-sm-10 { flex-basis: 83.3333% }
  .col-sm-11 { flex-basis: 91.6663% }
  .col-sm-12 { flex-basis: 100% }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-md-1 { flex-basis: 8.3333% }
  .col-md-2 { flex-basis: 16.6666% }
  .col-md-3 { flex-basis: 24.9999% }
  .col-md-4 { flex-basis: 33.3333% }
  .col-md-5 { flex-basis: 41.6665% }
  .col-md-6 { flex-basis: 49.9998% }
  .col-md-7 { flex-basis: 58.3331% }
  .col-md-8 { flex-basis: 66.6664% }
  .col-md-9 { flex-basis: 74.9997% }
  .col-md-10 { flex-basis: 83.3333% }
  .col-md-11 { flex-basis: 91.6663% }
  .col-md-12 { flex-basis: 100% }
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* # Стили сайта */
body {
  font-family: 'Roboto', sans-serif;
}

/* # Header */
.header {
  display: flex;
  align-items: center;
  height: 72px;
  background: #fff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

/* # Логотип */
.logo {
  display: flex;
  align-items: center;
  height: 40px;
}

.logo--footer {
  margin-top: 56px;
  margin-bottom: 40px;
}

.logo__item {
  width: 107px;
}

.logo__item--footer {
  width: 192px;
}

@media (min-width: 768px) {
  .logo__item {
    width: 121px;
  }
  .logo__item--footer {
    width: 192px;
  }
}

/* # Адрес и время доставки */
.location {
  display: none;
}

@media (min-width: 768px) {
  .location {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
}

.location--mobile {
  display: flex;
}

@media (min-width: 768px) {
  .location--mobile {
    display: none;
  }
}

.location__time {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  text-decoration: none;
  font-size: 13px;
  color: #1D1D1D;
  line-height: 24px;
  text-align: center; 
}

@media (min-width: 768px) {
  .location__time {
    width: 57px;
  }
}

@media (min-width: 992px) {
  .location__time {
    font-size: 16px;
    width: 65px;
  }
}

.location__text {
  display: inline-flex;
  margin: 0px 9px 0px 9px;
}

@media (min-width: 768px) {
  .location__text {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .location__text {
    font-size: 16px;
  }
}

.location__address {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #1D1D1D;
  font-size: 13px;
  line-height: 24px;
  padding-left: 36px;
  outline: none;
  background: url('../images/location.svg') no-repeat 12px;
}

@media (min-width: 768px) {
  .location__address {
    font-size: 13px;
    width: 215px;
  }
}

@media (min-width: 992px) {
  .location__address {
    font-size: 16px;
    width: 292px;
  }
}

/* # Кнопки входа, регистрации и корзины */
.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 40px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 13px;
  margin-right: 16px;
  font-size: 11px;
}

.header__button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__button {
    font-size: 13px;
    line-height: 24px;
    width: 80px;
  }
}

.header__button--sign-up {
  border: 1px solid #E0E0E0;
  background: #fff;
}

.header__button--register {
  background: #262626;
  color: #fff;
  border: none;
}

.header__button-basket {
  display: none;
  width: 19px;
  height: 23px;
  background: url('../images/header__button-basket.svg') no-repeat;
  border: none;
}

@media (min-width: 768px) {
  .header__button-basket {
    display: flex;
  }
}

.header__button-basket:hover {
  cursor: pointer;
}

/* # Поле поиска */
.restaurant-list__search {
  margin-top: 32px;
}

.restaurant-list__input {
  display: flex;
  padding: 15px 0px 15px 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(117,117,117,0.5);
  color: rgba(98,98,98,0.3);
  font-size: 13px;
  line-height: 24px;
  outline: none;
  background: url('../images/search.svg') no-repeat 0px;
  background-size: 16px;
}

@media (min-width: 768px) {
  .restaurant-list__input {
    font-size: 16px;
  }
}

/* Список ресторанов */
.restaurant-list__title {
  font-size: 22px;
  color: #1D1D1D;
  margin: 56px 0px -20px 0px;
  font-weight: normal;
}

.restaurant-list__item {
  margin-top: 36px;
}

.restaurant-list__photo {
  height: 250px;
  width: 100%;
}

@media (min-width: 768px) {
  .restaurant-list__photo {
    height: 256px;
    width: 100%;
  }
}

.restaurant-list__name {
  font-size: 16px;
  color: #1D1D1D;
  margin: 16px 0px 4px 0px;
  line-height: 24px;
  font-weight: normal;
}

.restaurant-list__category {
  display: inline-flex;
  font-size: 14px;
  color: #626262;
  margin: 0px 0px 4px 0px;
  line-height: 21px;
  font-weight: normal;
}

.restaurant-list__time {
  font-size: 13px;
  color: #1D1D1D;
  margin: 0;
  line-height: 21px;
  font-weight: normal;
}

/* Футер */

.footer {
  display: flex;
  margin-top: 80px;
  background: #262626;
}

.footer__line {
  opacity: 0.4;
  margin: 0px;
}

.footer__menu--margin-top {
  margin-top: 32px;
}

.footer__menu--margin-bottom {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .footer__menu {
    margin-top: 32px;
    margin-bottom: 48px;
  }
}

.footer__language {
  background: #3B3B3B;
  width: 173px;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .footer__language {
    width: 176px;
  }
}

@media (min-width: 992px) {
  .footer__language {
    width: 227px;
  }
}

.footer__select {
  display: flex;
  width: 173px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background: url(../images/world.svg) no-repeat 26px,
              url(../images/select-icon.svg) no-repeat 150px;
  outline: none;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  padding-left: 48px;
  text-transform: uppercase; 
  -webkit-appearance: none;
}

@media (min-width: 768px) {
  .footer__select {
    background: url(../images/world.svg) no-repeat 26px, url(../images/select-icon.svg) no-repeat 153px;
  }
}

@media (min-width: 992px) {
  .footer__select {
    background: url(../images/world.svg) no-repeat 26px, url(../images/select-icon.svg) no-repeat 205px;
  }
}

.footer__hash-tag {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-weight: normal;
  margin: 33px 0px 17px 0px;
}

.footer__hash-tag--green {
  color: #49A144;
}

.footer__social {
  display: flex;
  margin-right: 15px;
}

.social-item {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.social-item--facebook {
  background: url('../images/facebook.svg') no-repeat;
}

.social-item--twitter {
  background: url('../images/twitter.svg') no-repeat;
}

.social-item--instagram {
  background: url('../images/instagram.svg') no-repeat;
}

.menu-item {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  margin: 0px 0px 23px 0px;
}

.footer__apps {
  display: flex;
  justify-content: center;
}

.link-app {
  margin: 25px 12.5px;
}

.link-app--appstore {
  width: 107px;
  height: 36px;
  background: url(../images/appstore.png) no-repeat;
  background-size: cover;
}

.link-app--googleplay {
  width: 124px;
  height: 36px;
  background: url(../images/gplay.png) no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .link-app--appstore {
    width: 121px;
    height: 40px;
  }
  .link-app--googleplay {
    width: 135px;
    height: 40px;
  }
  .link-app {
    margin: 40px 20px;
  }
}

.footer__copyright {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  line-height: 13px;
  margin: 12px 0;
}

@media (min-width: 768px) {
  .footer__copyright {
    margin: 40px 0;
  }
}

.footer__copyright--margin-top {
  margin-top: 40px;
}

.footer__copyright--margin-bottom {
  margin-bottom: 40px;
}

.body__scroll {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 16px;
  bottom: 24px;
  background: #59BD5A url(../images/arrow.svg) no-repeat center;
  border-radius: 2px;
}